th, td {
    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
    height: 100%;
}

.green{
    
    background-color: yellowgreen;
}

.purple{
   
    background-color: blueviolet;
}